.videoBlok
  width: 100%
  padding: var(--spacing-sides)
  border-bottom: var(--layout-border)

.videoFrame
  width: 100%

  &[data-sizing='fullscreen_cover'],
  &[data-sizing='fullscreen_contain']
    min-height: 100vh
    min-height: 100svh

.videoRoot
  width: 100%
  height: 100%
