.contentInfoItem
  width: 100%
  display: flex
  gap: 2rem
  font-family: var(--font-bradford), 'Bradford', serif
  font-size: var(--type-size-base)
  line-height: 1.1
  min-height: calc(1.1em + 1.5rem)
  & > div
    flex: 1
  .left
    width: 50%
    flex-shrink: 0
    padding: 0.5rem 0 1rem
  .right
    width: 50%
    flex-shrink: 0
    padding: 0.5rem 0 1rem
