@use '../../../styles/_mixins.sass' as vars

.indexThreeColumn
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding-bottom: 2rem
  align-items: flex-start
  border-top: var(--layout-border)
  @include vars.max-mobile
    flex-direction: column
    align-items: flex-end

  & > div
    will-change: transform
    transform: translateZ(0) // Force GPU layer
    backface-visibility: hidden // Stabilize layer
    -webkit-transform: translateZ(0) // Safari-specific
    -webkit-backface-visibility: hidden
    transition: background var(--transition-theme)
    background: var(--color-bg)
    
  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 25vw
  & > div:nth-child(3)
    width: 25vw
    
  @include vars.max-mobile
    & > div:first-child
      width: 80vw
    & > div:nth-child(2)
      width: 80vw
    & > div:nth-child(3)
      width: 80vw