.indexBlokInterviews
  display: flex
  flex-direction: column
  align-items: stretch
  padding: var(--indexbloks-padding)
  & > div
    flex: 1

  .aboveImage
    display: flex
    padding: var(--indexbloks-contenttop-padding)
    gap: .5rem
    font-size: var(--type-size-large)
    line-height: var(--type-lineheight-display)

  .belowImage
    display: flex
    flex-direction: column
    padding: var(--indexbloks-content-padding)
    & > div:first-child
      display: flex
      justify-content: space-between
      align-items: flex-start
      text-transform: uppercase
      font-size: var(--type-size-data)
      span
        font-size: var(--type-size-data)
    .descr
      display: -webkit-box
      -webkit-line-clamp: 4
      -webkit-box-orient: vertical
      overflow: hidden
      p
        font-size: var(--type-size-indexcaption)
        font-family: var(--font-bradford), 'Bradford', serif
        line-height: var(--type-bradford-lineheight)
        letter-spacing: var(--type-bradford-letterspacing)

  .quoteBlok
    display: flex
    align-items: center
    justify-content: center
    background: var(--color-bg-quote)
    width: 100%
    padding: 3rem 1.5vw
    aspect-ratio: 3 / 4
    span
      color: var(--color-bg-quote-type)
      text-align: center
      line-height: 1.2

  .imageContainer
    position: relative
    overflow: hidden
    aspect-ratio: var(--indexbloks-ratio-interviews)
    img
      width: 100%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
    .tags
      position: absolute
      display: flex
      bottom: .5rem
      left: .5rem
      gap: .33rem
      .tag
        background: hsla(0, 0%, 100%, 0.5)
        backdrop-filter: blur(6px)
        color: black
        padding: 0 .66rem
        padding-top: .1rem
        border-radius: 1000px
        transition: background 0.165s ease-in-out, border 0.165s ease-in-out
        &:hover
          background: hsla(0, 0%, 100%, 1)
        span
          line-height: 1
          font-size: .66rem
          text-transform: uppercase
          letter-spacing: .03rem
      .eventDate
        background: hsla(0, 0%, 100%, 1)
        &:hover
          background: hsla(0, 0%, 100%, 1)
        span
          line-height: 1
          font-size: .66rem
          text-transform: uppercase
