.pageTwoColumn
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding-top: 1rem
  padding-bottom: 2rem
  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 50vw
  @media screen and ( max-width: 770px )
    flex-direction: column
    align-items: flex-end
    & > div:first-child
      width: 100vw
    & > div:nth-child(2)
      width: 100vw