@use '../../../styles/_mixins.sass' as mixins

.pageTwoColumn
  display: flex
  flex-direction: row
  align-items: flex-start

  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 50vw

  @include mixins.max-mobile
    flex-direction: column
    & > div:first-child
      width: 100vw
    & > div:nth-child(2)
      width: 100vw
