main 
  background: var(--color-bg)
  color: var(--color-type)
  transition: background .33s ease-in-out, color .33s ease-in-out
  &[data-theme='light']
    background: var(--theme-main-bg)
    color: var(--theme-main-type)
  &[data-theme='dark']
    background: var(--theme-main-bg-inverted)
    color: var(--theme-main-type-inverted)
  &[data-theme='soft']
    background: var(--theme-soft-bg)
    color: var(--theme-soft-type)
  &[data-theme='blue']
    background: var(--theme-blue-bg)
    color: var(--theme-blue-type)

.layout
  display: flex
  pointer-events: none
  height: 100dvh
  width: 100vw
  & > div
    height: 100%
    border-right: var(--layout-border) solid currentColor
    transition: width .66s ease-in-out
    & > div:last-child
      border-right: 0
  &[data-layout="one"]
    & > div:first-child
      width: 0
    & > div:nth-child(2)
      width: 0
    & > div:last-child
      width: 100vw
  &[data-layout="two"]
    & > div:first-child
      width: 0
    & > div:nth-child(2)
      width: 50vw
    & > div:last-child
      width: 50vw
    @media screen and ( max-width: 770px )
      & > div:first-child
        width: 10vw
      & > div:nth-child(2)
        width: 20vw
      & > div:last-child
        width: 70vw
  &[data-layout="three"]
    & > div:first-child
      width: 50vw
    & > div:nth-child(2)
      width: 25vw
    & > div:last-child
      width: 25vw
    @media screen and ( max-width: 770px )
      & > div:first-child
        width: 0
      & > div:nth-child(2)
        width: 20vw
      & > div:last-child
        width: 80vw

.testButtons
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  display: flex
  align-items: flex-end
  flex-direction: column
  gap: 1rem
  padding: 1rem

button
  background: none
  border: none
  color: var(--color-type)
  font-size: 1rem
  cursor: pointer
  outline: none