// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px
  
:root

  // Colors
  --color-black: #000000
  --color-dark-grey: #171717
  --color-white: white
  --color-stone: #edeae6
  --color-blue: #2a52df
  // // Colors Themes
  --theme-main-bg: var(--color-white)
  --theme-main-type: var(--color-black)
  --theme-main-bg-inverted: var(--color-dark-grey)
  --theme-main-type-inverted: var(--color-white)
  --theme-soft-bg: var(--color-stone)
  --theme-soft-type: var(--color-blue)

  // Type Sizes
  // 12-15px
  --type-size-xsmall: 0.75rem
  // 14-17.5px
  --type-size-small: 0.875rem
  // 16—20px
  --type-size-base: 1rem 
  // 18-22.5px
  --type-size-large: 1.125rem
  // 20-25px
  --type-size-xlarge: 1.25rem
  // 24-30px
  --type-size-xxlarge: 1.5rem
  // Buttons
  --type-button: 0.777rem

  @media screen and ( max-width: 770px )
    --type-button: 0.777rem