@use './_mixins.sass' as mixins

:root
  // Colors
  --color-black: #000000
  --color-dark-grey: #171717
  --color-white: white
  --color-stone: #edeae6
  --color-blue: #2a52df
  --color-burgundy: #3C2420
  // Colors Themes
  --color-bg: var(--color-white)
  --color-type: var(--color-black)
  --color-bg-white: var(--color-white)
  --color-bg-white-type: var(--color-black)
  --color-bg-stone: var(--color-stone)
  --color-bg-stone-type: var(--color-type)
  --color-bg-blue: var(--color-blue)
  --color-bg-blue-type: var(--color-black)
  --color-bg-burgundy: var(--color-burgundy)
  --color-bg-burgundy-type: var(--color-white)
  --color-bg-dark-grey: var(--color-dark-grey)
  --color-bg-dark-grey-type: var(--color-white)
  // Background WHEN header is open
  --color-bg-modal: hsla(0, 0%, 0%, 0.66)
  // Theme Variants
  --theme-main-bg: var(--color-white)
  --theme-main-type: var(--color-black)
  --theme-main-bg-inverted: var(--color-dark-grey)
  --theme-main-type-inverted: var(--color-white)
  --theme-stone-bg: var(--color-stone)
  --theme-stone-type: var(--color-blue)
  --theme-blue-bg: var(--color-blue)
  --theme-blue-type: var(--color-black)
  // Layout
  --layout-border: 2px solid currentColor
  @include mixins.max-mobile
    --layout-border: 2px solid currentColor
  // Spacing
  --spacing-base: 1rem
  --spacing-two: 2rem
  --spacing-four: 4rem
  --spacing-sides: 1rem
  --header-size: calc(1rem + 38px + 2px)
  // --header-size-expanded: calc(1rem + 38px + (83px * 4) + 1rem+ 6rem)
  @media screen and (min-width: 1200px)
    --spacing-sides: 2rem
  // Z-Indexes
  --z-index-corner-smiley: 800
  --z-index-cursor: 900
  --z-index-bye-blok: 700
  --z-index-blok-about: 1
  // Transitions
  --transition-general: 0.33s ease-in-out
  --transition-lines: 0.66s ease-in-out
  --transition-theme: 0.33s ease-in-out
  --transition-images: 0.33s ease-in
  --transition-images-hover: 0.165s linear
  --transition-link-hover: 0.165s linear
  --opacity-link-hover: 0.66
  // Type Sizes
  --type-ratio: 1.618
  --type-size-data: 0.75rem
  --type-size-small: 0.618rem
  --type-size-indexcaption: 0.8rem
  --type-size-base: 1rem
  --type-size-large: 1.618rem
  --type-size-logo: 1.618rem
  --type-size-xlarge: 2.618rem
  --type-size-xxlarge: 4.236rem
  --type-helvetica: var(--font-helvetica), 'Helvetica Neue', Helvetica, Arial, sans-serif
  --type-lineheight: 1.45
  --type-lineheight-display: 1.1
  --type-letterspacing: -0.01em
  --type-letterspacing-display: -0.01em
  --type-bradford: var(--font-bradford), 'Bradford', serif
  --type-bradford-lineheight: 1.1
  --type-bradford-lineheight-display: 1.2
  --type-bradford-letterspacing: -0.02em
  --type-bradford-letterspacing-display: -0.02em
  // Buttons
  --type-size-buttons: 0.777rem
  // Menu Nav
  --type-size-nav: 83px
  // Index Pages
  --indexpage-gap: 4rem
  @include mixins.max-mobile
    --type-size-logo: 2rem
    --type-size-buttons: 0.777rem
    --indexpage-gap: 2rem
    --type-size-nav: 11vw
