// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px
  
:root
  // Colors
  --color-black: #000000
  --color-dark-grey: #171717
  --color-white: white
  --color-stone: #edeae6
  --color-blue: #2a52df
  --color-burgundy: #3C2420
  // Colors Themes
  --color-bg: var(--color-white)
  --color-type: var(--color-black)
  --color-bg-white: var(--color-white)
  --color-bg-white-type: var(--color-black)
  --color-bg-stone: var(--color-stone)
  --color-bg-stone-type: var(--color-type)
  --color-bg-blue: var(--color-blue)
  --color-bg-blue-type: var(--color-black)
  --color-bg-burgundy: var(--color-burgundy)
  --color-bg-burgundy-type: var(--color-white)
  --color-bg-dark-grey: var(--color-dark-grey)
  --color-bg-dark-grey-type: var(--color-white)
  // Background WHEN header is open
  --color-bg-modal: hsla(0, 0%, 0%, 0.66)
  // Theme Variants
  --theme-main-bg: var(--color-white)
  --theme-main-type: var(--color-black)
  --theme-main-bg-inverted: var(--color-dark-grey)
  --theme-main-type-inverted: var(--color-white)
  --theme-stone-bg: var(--color-stone)
  --theme-stone-type: var(--color-blue)
  --theme-blue-bg: var(--color-blue)
  --theme-blue-type: var(--color-black)
  // Layout
  --layout-border: 2px solid currentColor
  // Spacing
  --spacing-sides: 1rem
  --spacing-header-height: calc(1rem + var(--type-size-large)+ 1rem)
  @media screen and (min-width: 1200px)
    --spacing-sides: 2rem
  // Z-Indexes
  // Transitions
  --transition-general: 0.33s ease-in-out
  --transition-theme: 0.33s ease-in-out
  --transition-images: 0.33s ease-in
  --transition-images-hover: 0.165s linear
  --transition-link-hover: 0.165s linear
  --opacity-link-hover: 0.66
  // Type Sizes
  --type-ratio: 1.618
  --type-size-data: 0.75rem
  --type-size-small: 0.618rem
  --type-size-indexcaption: 0.8rem
  --type-size-base: 1rem
  --type-size-large: 1.618rem
  --type-size-logo: 1.618rem
  --type-size-xlarge: 2.618rem
  --type-size-xxlarge: 4.236rem
  --type-lineheight: 1.45
  --type-lineheight-display: 1.1
  --type-helvetica: var(--font-helvetica), 'Helvetica Neue', Helvetica, Arial, sans-serif
  --type-bradford: var(--font-bradford), 'Bradford', serif
  // Buttons
  --type-size-buttons: 0.777rem
  // Menu Nav
  --type-size-nav: 83px
  // IIndex Pages
  --indexpage-gap: 4rem

  @media screen and (max-width: 770px)
    --type-size-buttons: 0.777rem

*
  &[data-background="none"]
    background-color: transparent
  &[data-background="#edeae6"], &[data-background="#9E9080"]
    h1, h2, h3, h4, h5, h6, p, a
      color: var(--color-black)
  &[data-background="#171717"], &[data-background="#3C2420"]
    h1, h2, h3, h4, h5, h6, p, a
      color: var(--color-white)


html
  &[data-theme='light']
    --color-bg: var(--theme-main-bg)
    --color-type: var(--theme-main-type)
    --color-bg-white: var(--color-blue)
    --color-bg-quote: var(--color-black)
    --color-bg-quote-type: var(--color-white)
    --color-accent: var(--color-blue)
    --color-accent-type: var(--color-white)
  &[data-theme='dark']
    --color-bg: var( --theme-main-bg-inverted)
    --color-type: var(--theme-main-type-inverted)
    --color-bg-dark-grey: var(--color-white)
    --color-bg-dark-grey-type: var(--color-black)
    --color-bg-stone-type: var(--color-black)
    --color-bg-quote: var(--color-white)
    --color-bg-quote-type: var(--color-black)
    --color-accent: var(--color-blue)
    --color-accent-type: var(--color-white)
  &[data-theme='stone']
    --color-bg: var(--theme-stone-bg)
    --color-type: var(--theme-stone-type)
    --color-bg-stone: var(--color-blue)
    --color-bg-stone-type: var(--color-black)
    --color-bg-quote: var(--color-blue)
    --color-bg-quote-type: var(--color-black)
    --color-accent: var(--color-black)
    --color-accent-type: var(--color-white)
  &[data-theme='blue']
    --color-bg: var(--theme-blue-bg)
    --color-type: var(--theme-blue-type)
    --color-bg-blue: var(--color-white)
    --color-bg-quote: var(--color-black)
    --color-bg-quote-type: var(--color-white)
    --color-accent: var(--color-white)
    --color-accent-type: var(--color-black)