@use '../../../styles/_mixins.sass' as mixins

.indexTwoColumn
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  padding-top: 1rem
  @include mixins.max-mobile
    padding-top: 0

  & > div
    will-change: transform

  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 50vw
