.indexTwoColumn
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start

  & > div
    will-change: transform

  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 50vw
