.contentData
  min-height: 100vh
  padding: 4rem var(--spacing-sides)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 2rem
  border-bottom: var(--layout-border)
  & > div
    width: 100%
    max-width: 800px