.contentData
  position: relative
  min-height: 100vh
  padding: 2rem var(--spacing-sides)
  display: flex
  flex-direction: column
  align-items: center
  gap: 2rem
  border-bottom: var(--layout-border)
  & > div
    width: 100%
    max-width: 800px

  .textCaption
    font-family: var(--font-bradford), 'Bradford', serif
    display: flex
    flex: 1
    &_Top
      justify-content: center
      align-items: flex-start
    &_Bottom
      justify-content: center
      align-items: flex-end
