@use '../../styles/_mixins.sass' as mixins

.cornerSmiley
  position: fixed
  bottom: 0
  left: 0
  width: 20vw
  min-width: 100px
  max-width: 200px
  height: 20vw
  min-height: 100px
  max-height: 200px
  z-index: var(--z-index-corner-smiley)
  pointer-events: auto
  @include mixins.max-mobile
    width: 33vw
    height: 33vw
