.contentSlider
  width: 100%
  padding: var(--spacing-sides)
  border-bottom: var(--layout-border)

.sliderFrame
  width: 100%
  aspect-ratio: 16 / 9

  &[data-aspect-ratio='1:1']
    aspect-ratio: 1 / 1

  &[data-aspect-ratio='4:3']
    aspect-ratio: 4 / 3

  &[data-aspect-ratio='3:2']
    aspect-ratio: 3 / 2

  &[data-aspect-ratio='16:9']
    aspect-ratio: 16 / 9

  &[data-aspect-ratio='9:16']
    aspect-ratio: 9 / 16

  &[data-aspect-ratio='free']
    aspect-ratio: auto
