@use '../../styles/vars.sass' as vars

.header
  position: relative
  display: flex
  flex-direction: column
  text-transform: uppercase
  width: 100vw
  min-height: var(--header-size)
  border-bottom: var(--layout-border)
  user-select: none

  &_top
    display: flex
    padding: .5rem var(--spacing-sides)
    & > div:first-child, & > div:last-child
      display: flex
      align-items: center
      flex: 1
    & > div:first-child a
      font-size: var(--type-size-logo)
      line-height: 1
      padding-top: 0.25em
    & > div:last-child
      text-align: right
      color: var(--color-accent)
      text-transform: uppercase
      justify-content: flex-end
      @include vars.max-mobile
        display: none

  &_bottom
    height: 0
    display: flex
    flex-direction: column
    padding: 0
    gap: 2rem
    pointer-events: none
    &[data-active="true"]
      pointer-events: auto

  &_nav ul
    display: flex
    flex-direction: column
    align-items: center
    padding: 2rem 1rem 0
    a
      font-size: var(--type-size-nav)
      line-height: 1
      text-align: center
      transition: opacity var(--transition-link-hover)
      &:hover
        opacity: var(--opacity-link-hover)
    span
      color: var(--color-accent)
      transition: color var(--transition-theme)

  .buttons
    display: flex
    justify-content: center
    width: 100%
    padding: 0 1rem 2rem
    opacity: 0

  &[data-active="true"]
    .header_bottom
      height: auto
      pointer-events: auto

.background
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: var(--color-bg-modal)
  opacity: 0
  pointer-events: none
  transition: opacity 0.3s ease-in-out
  // z-index: 999
  &[data-active="true"]
    opacity: 1
    pointer-events: auto

.menuIcon
  position: relative
  width: 38px
  height: 38px
  &_bar
    position: absolute
    left: 0
    right: 0
    top: 50%
    width: 100%
    height: 1.5px
    background: currentColor
    &:first-child
      transform: translateY(-5.75px)
    &:last-child
      transform: translateY(5.75px)
  &[data-active="true"]
    .menuIcon_bar
      &:first-child
        animation: menuIconTopOpen .33s ease-in-out
        animation-fill-mode: forwards
      &:last-child
        animation: menuIconBottomOpen .33s ease-in-out
        animation-fill-mode: forwards
  &[data-active="false"]
    .menuIcon_bar
      &:first-child
        animation: menuIconTopClose .33s ease-in-out
        animation-fill-mode: forwards
      &:last-child
        animation: menuIconBottomClose .33s ease-in-out
        animation-fill-mode: forwards

@keyframes menuIconTopOpen
  0%
    transform: translateY(5.75px) rotate(0deg)
  50%
    transform: translateY(0) rotate(0deg)
  100%
    transform: translateY(0) rotate(45deg)

@keyframes menuIconBottomOpen
  0%
    transform: translateY(-5.75px) rotate(0deg)
  50%
    transform: translateY(0) rotate(0deg)
  100%
    transform: translateY(0) rotate(-45deg)

@keyframes menuIconTopClose
  0%
    transform: translateY(0) rotate(45deg)
  50%
    transform: translateY(0) rotate(0deg)
  100%
    transform: translateY(5.75px) rotate(0deg)

@keyframes menuIconBottomClose
  0%
    transform: translateY(0) rotate(-45deg)
  50%
    transform: translateY(0) rotate(0deg)
  100%
    transform: translateY(-5.75px) rotate(0deg)
