.linkBlok
  display: flex
  flex-direction: column
  gap: 0
  padding: 2rem var(--spacing-sides)
  border-bottom: var(--layout-border)
  a, span
    user-select: none
    font-size: var(--type-size-xlarge)
    line-height: 1.25
    letter-spacing: .033rem