@use '../../../styles/_mixins.sass' as vars

.pageThreeColumn
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding-top: 1rem
  padding-bottom: 2rem
  align-items: flex-start

  @include vars.max-mobile
    flex-direction: column
    align-items: flex-end

  & > div:first-child
    width: 50vw
  & > div:nth-child(2)
    width: 25vw
  & > div:nth-child(3)
    width: 25vw
    
  @include vars.max-mobile
    & > div:first-child
      width: 80vw
    & > div:nth-child(2)
      width: 80vw
    & > div:nth-child(3)
      width: 80vw