@use '../../../styles/_mixins.sass' as mixins

.indexBlokGeneral
  display: flex
  flex-direction: column
  align-items: stretch
  padding: var(--indexbloks-padding)
  @include mixins.max-mobile
    border-bottom: var(--layout-border)
  & > div
    flex: 1

  .aboveImage
    display: flex
    padding: var(--indexbloks-contenttop-padding)
    gap: .5rem
    font-size: var(--type-size-large)
    line-height: var(--type-lineheight-display)

  .belowImage
    display: flex
    flex-direction: column
    padding: var(--indexbloks-content-padding)
    &_Top
      display: flex
      justify-content: space-between
      align-items: flex-start
      text-transform: uppercase
      font-size: var(--type-size-data)
      margin-top: 0.5em
      gap: .5rem
      @include mixins.max-mobile
        flex-direction: column
      &_Date
        display: flex
        align-items: center
        gap: .5rem
      &_Tags
        flex: 1
        flex-wrap: wrap
        display: flex
        justify-content: flex-end
        align-items: center
        gap: .5rem

  .quoteBlok
    display: flex
    align-items: center
    justify-content: center
    transition: background var(--transition-theme)
    background: var(--color-bg-quote)
    width: 100%
    padding: 3rem 1.5vw
    aspect-ratio: 3 / 4
    span
      transition: color var(--transition-theme)
      color: var(--color-bg-quote-type)
      text-align: center
      line-height: 1.2

  .imageContainer
    position: relative
    overflow: hidden
    aspect-ratio: var(--indexbloks-ratio-general) !important
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover

    .tags
      position: absolute
      display: flex
      bottom: .5rem
      left: .5rem
      gap: .33rem
      .tag
        background: hsla(0, 0%, 100%, 0.5)
        backdrop-filter: blur(6px)
        color: black
        padding: 0 .66rem
        padding-top: .1rem
        border-radius: 1000px
        transition: background 0.165s ease-in-out
        &:hover
          background: hsla(0, 0%, 100%, 1)
        span
          line-height: 1
          font-size: .66rem
          text-transform: uppercase
          letter-spacing: .03rem
      .eventDateOpen
        transition: background 0.165s var(--transition-theme), color var(--transition-theme)
        background: var(--color-accent)
        color: var(--color-accent-type)
        border-radius: 0

        span
          line-height: 1
          font-size: .66rem
          text-transform: uppercase

    .seats
      position: absolute
      bottom: .5rem
      right: .5rem
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 1px 4px
      padding-top: 6px
      gap: .33rem
      border-radius: 12px
      background: hsla(0, 0%, 100%, 0.5)
      backdrop-filter: blur(6px)
      transition: background 0.165s ease-in-out
      color: black
      &:hover
        background: hsla(0, 0%, 100%, 1)
      span
        line-height: 1
        font-size: .75rem

@keyframes slowBlink
  0%, 25%, 100%
    opacity: 1
  12.5%
    opacity: 0

.eventDateOpen
  animation: slowBlink 2s ease-in-out infinite
