.pageHome
  position: relative
  min-height: 200vh
  display: flex

  &_column
    position: relative
    will-change: transform
    transform: translateY(0)
    
    > div
      position: relative
      display: flex
      flex-direction: column