@use '../../../styles/vars.sass' as vars

.blokAbout
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 33vh
  min-height: 500px
  padding: 8vh
  pointer-events: none
  transition: background var(--transition-theme), color var(--transition-theme)
  background: var(--color-bg)
  user-select: none
  h1
    font-size: 4.1666666667vh
    line-height: 1
    text-align: center
    font-size: var(--type-size-nav)
    text-transform: uppercase
    @include vars.mobile
      font-size: 6.6666666667vh
  span, a
    color: var(--color-accent)
    transition: color var(--transition-theme)
    pointer-events: auto
