@use '../../styles/_mixins.sass' as vars

.footer
  border-top: var(--layout-border)
  padding: 4rem 0 12rem
  user-select: none
  @include vars.max-mobile
    padding-top: 64px
  &_content
    display: flex
    flex-wrap: wrap
    & > div
      display: flex
      flex-direction: column
      justify-content: space-between
      border-box-sizing: border-box
      padding: 0 var(--spacing-sides)
      width: 25vw
      @include vars.max-mobile
        width: 50%
      & > div, p , a
      &:first-child
        width: 50vw
        @include vars.max-mobile
          margin-bottom: 2rem
          width: 100%
    &_left
      a
        font-family: var(--font-helvetica)
      .logo
        font-size: var(--type-size-logo)
        text-transform: uppercase
    &_center, &_right
      text-transform: uppercase
    &_center
      gap: .25rem
    &_right
      display: flex
      flex-direction: column
      & > div
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: .25rem

  p, a, span
    position: relative
    display: inline-block
    line-height: 1.45
    &:hover
      &:after
        opacity: 1
  a::after
    position: absolute
    left: 0
    bottom: 2px
    right: 0
    content: ''
    display: block
    width: 100%
    height: 2px
    background: currentColor
    opacity: 0
