.footer
  border-top: var(--layout-border)
  padding: 4rem 0 12rem
  user-select: none
  @media screen and (max-width: 770px)
    padding-top: 64px
  &_content
    display: flex
    align-items: flex-start
    @media screen and (max-width: 770px)
      flex-direction: column
      align-items: flex-start
      gap: 1rem
    & > div
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-end
      border-box-sizing: border-box
      padding: 0 var(--spacing-sides)
      width: 25vw
      &:first-child
        width: 50vw
        @media screen and (max-width: 770px)
          margin-bottom: 1rem
    &_left
      gap: 1rem
      a
        cursor: pointer
        font-family: var(--font-helvetica)
      .logo
        font-size: var(--type-size-logo)
        text-transform: uppercase
    &_center, &_right
      text-transform: uppercase
      gap: .25rem
    &_right
      gap: 1rem
      display: flex
      flex-direction: column
      align-items: flex-start
      & > div
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: .25rem
    // .slogan
    //   margin-bottom: 1rem + 0.66rem
    //   transition: color var(--transition-theme)
    //   color: var(--color-accent)
    // .buttons
    //   display: flex
    //   flex-direction: column
    //   align-items: flex-start
    //   gap: .5rem
    //   button
    //     text-transform: uppercase
    //     font-size: var(--type-size-buttons)
    //     color: currentColor

  p, a, span
    position: relative
    display: inline-block
    line-height: 1.45
    &:hover
      &:after
        opacity: 1
  a::after
    position: absolute
    left: 0
    bottom: 2px
    right: 0
    content: ''
    display: block
    width: 100%
    height: 2px
    background: currentColor
    opacity: 0
